.custom-input {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff; 
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px; 
    padding: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif;
  }
  
  .custom-input:focus {
    background-color: rgba(255, 255, 255, 0.5);
  }